<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: main-layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <main>
        <h1>Home Page</h1>
        <hr>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, ea ipsam! Officiis ipsum expedita et aut debitis culpa ad animi cupiditate inventore ea, eligendi sunt dolorum architecto est sit pariatur?
        </p>
    </main>    
</body>
</html>