<!-- 
  @Author: Your name
  @Date:   2026-06-12 20:14:58
  @Last Modified by:   Your name
  @Last Modified time: 2026-06-12 20:15:14
-->
<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: main-layout(~{::title}, ~{::main})}">
<head>
    <title>Categoria atualizada com sucesso</title>
</head>
<body>
    <main>
        <script>
            alert("Categoria atualizada com sucesso!");
            window.location.href = "/listarProdutos";
        </script>
    </main>
</body>
</html>